<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view Details</title>
</head>
<body>
<h1>view Details</h1></br>
<table border="1">
    <thead>
    <tr>
        <th>EmpId</th>
        <th>EmpName</th>
        <th>EmpEmail</th>
        <th>EmpGender</th>
        <th>EmpDepartment</th>
        <th>EmpPosition</th>
        <th>AvailableLeave</th>
        <th>VocationalLeave</th>
        <th>SickLeave</th>
        <th>MaternityLeave</th>
        <th>FMLA</th>
        <th>UnpaidLeave</th>
        
        <!-- Add more columns as needed -->
    </tr>
    </thead>
    <tbody>
    <tr th:each="dataItem : ${dataList1}">
        <td th:text="${dataItem.EmpId}"></td>
        <td th:text="${dataItem.EmpName}"></td>
        <td th:text="${dataItem.EmpEmail}"></td>
        <td th:text="${dataItem.EmpGender}"></td>
        <td th:text="${dataItem.EmpDepartment}"></td>
        <td th:text="${dataItem.EmpPosition}"></td>
        <td th:text="${dataItem.AvailableLeave}"></td>
        <td th:text="${dataItem.VocationalLeave}"></td>
        <td th:text="${dataItem.SickLeave}"></td>
        <td th:text="${dataItem.MaternityLeave}"></td>
        <td th:text="${dataItem.FMLA}"></td>
        <td th:text="${dataItem.UnpaidLeave}"></td>
    
    </tr>
    </tbody>
</table>
</body>
</html>
