<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance Details</title>
    <link rel="stylesheet" href="viewAttendance.css">
</head>
<body>
<h1>Attendance Details</h1></br>
<table border="1">
    <thead>
    <tr>
        <th>UserName</th>
        <th>UserEmail</th>
        <th>LeaveType</th>
        <th>StartDate</th>
        <th>EndDate</th>
        <th>Description</th>
        <th>Approve</th>
        <th>Decline</th>
        <!-- Add more columns as needed -->
    </tr>
    </thead>
    <tbody>
    <tr th:each="dataItem : ${dataList}">
        <td th:text="${dataItem['username']}"></td>
        <td th:text="${dataItem['usermail']}"></td>
        <td th:text="${dataItem['leavetype']}"></td>
        <td th:text="${dataItem['noofdaysrequired']}"></td>
        <td th:text="${dataItem['description']}"></td>
        <form action="/acceptRequest" method="post">
            <input type="hidden" name="username"  th:value="${dataItem['username']}">
            <td><button type="submit">Approve</button> </td>
        </form>
        <td><button type="submit">Decline</button> </td>
    </tr>
    </tbody>
</table>
</body>
</html>
