<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leave Details</title>
</head>
<body>
<h1>Leave Details</h1></br>
<table border="1">
    <thead>
    <tr>
        <th>User Name</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="dataItem : ${dataList2}">
        <td th:text="${dataItem.username}"></td>
        <td th:text="${dataItem.status}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
